%ul.timeline.timeline-vertical
  - @places.each do |place|
    %li
      .timeline-start= l(place.created_at, format: :long)
      .timeline-middle
        %svg.w-5.h-5{fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", d: "M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z", "fill-rule" => "evenodd"}
      .timeline-end
        .flex.items-center.gap-3
          %p= place.name
          .avatar
            .w-24.rounded-full
              %img{ src: place.photo_url }

  - if current_user.present?
    = link_to current_user.x_share_url, class: 'text-center mt-24 w-100' do
      .flex.items-center.justify-center
        .avatar
          .w-8.rounded-full
            = image_tag 'logo-black.png'
        %span にシェア
