.mx-auto{ class: 'h-[1000px] w-[500px]', data: { controller: 'google-map', google_map_api_key_value: Rails.application.credentials.google.api_key, google_map_map_id_value: Rails.application.credentials.google.map_id } }
